
body{
	background: url(../img/pattern4.png) repeat;
}

/*header start*/

header{
	width: 100%;
	height: 100px;
}

.header-top-wrapper{
	height: 100px;
	width: 100%;
	background: rgba(92,95,112,0.2);
	border-bottom: 1px solid rgba(92,95,112,0.0);
	transition: 1s ease;
	
}

.header-top-wrapper:hover{
	background: rgba(92,95,112,0.8);
	/*background: url(../img/pattern5.png) repeat ;*/
	border-bottom: 1px solid #B5B5B5;
	transition: 1s ease;
}


.header-logo{
	height: 70px;
	width: 240px;
	margin-top: 15px;
	margin-left: 30px;
	-webkit-box-shadow: 10px 10px 13px -8px rgba(0,0,0,1);
	-moz-box-shadow: 10px 10px 13px -8px rgba(0,0,0,1);
	box-shadow: 10px 10px 13px -8px rgba(0,0,0,1);
}

.header-contact-ico{
	width: 48px;
	height: 48px;
	margin-top: 15px;
	float: left;
	background: url(../img/ico/facebook.png);
}

.header-contact-ico:hover{
	
	background: url(../img/ico/facebookh.png);
}


.header-contact{
	width: 340px;
	height: 80px;
	margin-right: 30px;
	margin-top: 10px;
	float: right;
}

.header-contact-phone{
	font-size: 28px;
	margin-left: 10px;
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	float: left;
	color: #FFFF93;
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.62);
}

.header-contact-callme{
	width: 255px;
	height: 30px;
	color: white;
	font-family: 'Poiret One', cursive;
	font-size: 22px;
	text-align: center;
	background: #696069;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	padding-top: 7px;
	border: 2px solid #ffe208;
	border-radius: 5px;
	transiton: 1s ease;
	-webkit-box-shadow: 10px 10px 13px -8px rgba(0,0,0,1);
	-moz-box-shadow: 10px 10px 13px -8px rgba(0,0,0,1);
	box-shadow: 10px 10px 13px -8px rgba(0,0,0,1);
}

.header-contact-callme:hover{
	background: rgba(130,96,105,0.4);
	transiton: 1s ease;	
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	cursor: pointer;
}


.header-background{
	height: calc(100vh - 101px);
	width: 100%;
	background: url(../img/back2-1.jpg) center no-repeat fixed;
	background-size: cover;
}

.header-background-wrapper{
	height: 520px;
	width: 500px;
	margin-top: 10%;
	float: right;
	margin-right: 5%;	
}

.header-backround-text{
	width: 500px;
	color: white;
	font-size: 70px;
	margin-left: 10px;
	font-family: 'Poiret One', cursive;
	text-shadow: black 0 0 10px;	
	text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.62);
	font-weight: bold;
}

.header-background-button{
	height: 60px;
	width: 240px;
	background: rgba(105,96,105,0.5);
	margin-top:  70px;
	margin-left: 130px;
	border:3px white solid;
	border-radius: 5px;
	text-align: center;
	color: white;
	font-family: 'Poiret One', cursive;
	font-size: 30px;
	line-height: 60px;
	font-weight: bolder;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.62);
	-webkit-box-shadow: 10px 10px 13px -8px rgba(0,0,0,1);
	-moz-box-shadow: 10px 10px 13px -8px rgba(0,0,0,1);
	box-shadow: 10px 10px 13px -8px rgba(0,0,0,1);
}

.header-background-button:hover{
	background: rgba(130,96,105,0.6);
	cursor: pointer;
}


.header-background-button-contact{
	margin-top: 40px;
}


.header-navigation{
	height: 100px;
	width: 100%;
	background: rgba(92,95,112,0.5);
	border-top: 1px solid #B5B5B5;
}

.header-navicon{
	height: 5px; 
	width: 40px;
	display: none;
	border-bottom: 17px double #CFBA2F; 
    border-top: 6px solid  #CFBA2F; 
    content:"";
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}


.header-navigation-menu-box{
	width: 860px;
	height: 45px;
	margin-top: 30px;
	margin-left: 50px;
	
}

.menu-item{
	float: left;
}

.menu-item-link{
	color: white;
	font-size: 22px;
	font-family: 'Poiret One', cursive;
	text-decoration: none;
	display: block;
	background: rgba(105,96,105,0.5);
	line-height: 40px;
	margin-left: 15px;
	width: 150px;
	height: 40px;
	text-align: center;
	border: 2px #ffe208 solid;
	border-radius: 5px;
	-webkit-box-shadow: 10px 10px 13px -8px rgba(0,0,0,1);
	-moz-box-shadow: 10px 10px 13px -8px rgba(0,0,0,1);
	box-shadow: 10px 10px 13px -8px rgba(0,0,0,1);
	cursor: pointer;
}

.menu-item-link:hover{
	background: rgba(130,96,105,0.6);
	border-top: 2px white solid;
	border-bottom: 2px white solid;
}


.header-navigation-menu-mobile-box{
	width: 100%;
	max-width: 300px;
	height: 0%;
	margin: 0 auto;
	display: none;
	margin-bottom: 0px;
}


.header-navigation-menu-mobile{
	margin-bottom: 10px;
}

.menu-mobile-item{
	float: none;

}

.menu-mobile-item-link{
	color: white;
	font-size: 35px;
	font-family: 'proxima', cursive;
	margin-top: 10px;
	text-decoration: none;
	display: block;
	background: rgba(105,96,105,0.2);
	line-height: 60px;
	width: 100%
	max-width: 450px;
	height: 60px;
	text-align: center;
	border: 3px #ffe208 double;
	border-radius: 20px;
	-webkit-box-shadow: 10px 10px 13px -8px rgba(0,0,0,1);
	-moz-box-shadow: 10px 10px 13px -8px rgba(0,0,0,1);
	box-shadow: 10px 10px 13px -8px rgba(0,0,0,1);
}

.menu-mobile-item-link:hover{
	background: rgba(130,96,105,0.4);
}



.header-navigation-ico{
	width: 48px;
	height: 48px;
	float: right;
	margin-top: -50px;
	margin-right: 30px;
	background: url(../img/ico/facebook.png);
}


.header-mobile-contact{
	display: none;
	width: 100%;
	max-width: 180px;
	height: 45px;
	margin-right: 0px;
	margin-top: 4px;
	float: right;	
}



.header-navigation-ico:hover{
	background: url(../img/ico/facebookh.png);
}

.header-copyright{
	font-family: 'Poiret One', cursive;
	color: white;
	font-size: 12px;
	text-align: right;
	margin-top: 10px;
	margin-right: 10px;
}

.header-copyright-mobile{
	font-family: 'Poiret One', cursive;
	color: white;
	font-size: 10px;
	text-align: center;
	margin-top: 5px;
	display: none;	
}