<<<<<<< HEAD
@media screen and (max-width: 480px){

.wrapper{
	width: 100%;
	margin: auto;
	margin-top: 5%;
}

}
=======
@media screen and (max-width: 480px){

.wrapper{
	width: 100%;
	margin: auto;
	margin-top: 5%;
}

}
>>>>>>> 97f5991d9fb678b9c1d7704b696a77ad568a530e
