

body{
	background: #dee7ec;
}

/*header start*/

header{
	width: 1200px;
	height: 700px;
	background: green;
	margin: 0 auto;
}

.header-top-wrapper{
	height: 100px;
	width: 1200px;
	background: #5c5f6f;
}

.header-logo{
	height: 70px;
	width: 240px;
	margin-top: 15px;
	margin-left: 120px;
}

.header-contact-ico{
	width: 48px;
	height: 48px;
	margin-top: 15px;
	float: left;
	background: url(../img/ico/facebook.png);
}

.header-contact-ico:hover{
	
	background: url(../img/ico/facebookh.png);
}


.header-contact{
	width: 340px;
	height: 80px;
	margin-right: 110px;
	margin-top: 10px;
	float: right;
}

.header-contact-phone{
	font-size: 28px;
	margin-left: 10px;
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	float: left;
	color: #FFFF93;
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.62);
}

.header-contact-callme{
	width: 255px;
	height: 30px;
	color: white;
	font-family: 'Poiret One', cursive;
	font-size: 22px;
	text-align: center;
	background: #696069;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	padding-top: 7px;
	border: 1px solid white;
	border-radius: 10px;
	transiton: 1s ease;
}

.header-contact-callme:hover{
	background: #453f45;
	transiton: 1s ease;	
}


.header-background{
	height: 500px;
	width: 1200px;
	overflow: hidden;
}

.header-background-image{
	height: 520px;
	width: 1240px;
	
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
   
}

.header-background-image:hover{
	height: 500px;
	width: 1200px;
}


.header-background-wrapper{
	height: 500px;
	width: 500px;
	position: absolute;
	margin-top:-525px;
	margin-left: 700px;
}

.header-backround-text{
	width: 480px;
	color: white;
	font-size: 70px;
	margin-top:  100px;
	margin-left: 10px;
	font-family: 'Poiret One', cursive;
	text-shadow: black 0 0 10px;	
	text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.62);
	font-weight: bold;
}

.header-background-button{
	height: 60px;
	width: 240px;
	background: rgba(105,96,105,0.5);
	margin-top:  70px;
	margin-left: 130px;
	border:3px white solid;
	border-radius: 5px;
	text-align: center;
	color: white;
	font-family: 'Poiret One', cursive;
	font-size: 30px;
	line-height: 60px;
	font-weight: bolder;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.62);
}

.header-background-button:hover{
	background: rgba(64,59,64,0.2);
	

}


.header-background-button-contact{
	margin-top: 40px;
}



.header-navigation{
	height: 100px;
	width: 1200px;
	background: #5c5f6f;
}

.border{
	width: 100%;
	height: 2px;
	background: red;
	margin-top: 50px;
}
.header-navigation-menu-box{
	width: 860px;
	height: 45px;
	margin-top: 30px;
	margin-left: 50px;
	position: absolute;
}

.menu-item{
	float: left;
}

.menu-item-link{
	color: white;
	font-size: 22px;
	font-family: 'Poiret One', cursive;
	text-decoration: none;
	display: block;
	background: #696069;
	line-height: 40px;
	margin-left: 15px;
	width: 150px;
	height: 40px;
	text-align: center;
	border: 2px white solid;
	border-radius: 5px;
}

.menu-item-link:hover{
	background: #453f45;
}


.header-navigation-ico{
	width: 48px;
	height: 48px;
	float: right;
	margin-left: 1050px;
	margin-top: 30px;
	background: url(../img/ico/facebook.png);
	position: absolute;
}

.header-navigation-ico:hover{
	background: url(../img/ico/facebookh.png);
	}