@media screen and (max-width: 960px){

.wrapper>main{
	height: 440px;
}

main>.main-wrapper{
	width: 100%;
	float: none;
}

.main-title{
	text-align: center;
}

.main-text{
	text-align: center;
}

.main-menu{
	margin: 0 auto;
	width: 340px;
}

.main-text-link{
	text-align: center;
}

.main-wrapper>.main-slider-box{
	margin: 0 auto;
}


}

@media screen and (max-width: 860px){

.header-login-wrapper{
	width: 130px;
	margin: 40px 5px 0 0;
}

.header-login-enter{
	font-size: 9px;
}

.header-menu{
	margin: 40px 0 0 10px;
	a{
		font-size: 11px;
	}
	li{
		margin-left: 10px;
	}
}

}

@media screen and (max-width: 640px){

.header-menu{
	display: none;
}

.banner{
	display: none;
}

.header-navicon{
	display: block;
}

.header-menu-mobile-box{
	display: block;
}

.header-menu-mobile{
	display: none;
}

.main-wrapper>.main-slider-box{
	width: 100%;
	max-width: 340px;
	margin: 0 auto;
}

.main-slider-box>.slider_wrap .img {
    width: 310px;
    margin: auto; 
    margin-left: 16px;
}

}