footer{
	width: 100%;
	height: 100px;
	background: #f9f9f9;
	position: absolute;
	left: 0;
	bottom: 0;

}

.footer-wrapper{
	width: 98%;
	max-width: 960px;
	margin: auto;
	font-size: 12px;
	color: #656565;
}

.footer-copyright{
	padding: 15px 0 15px 0;
}

.footer-phone{
	font-weight: bold;
	a{
		font-weight: 200;
		text-decoration: underline;
		color: #656565;
	}
	a:hover{
		color: #0072c8;
	}
	span{
		font-weight: 200;
	}
}

.footer-e-mail{
	font-weight: bold;
	padding: 5px 0 0 0;
	a{
		font-weight: 200;
		text-decoration: underline;
		color: #656565;
	}
	a:hover{
		color: #0072c8;
	}
}