header{
	width: 98%;
	max-width: 960px;
	height: 120px;
	margin: auto;
}

.header-logo{
	margin: 20px 0 0 0;
	float:left;
}

/*header-menu with arrows*/

.header-menu{
	float:left;
	margin: 40px 0 0 30px;
	a{
		display: inline-block;
		color: #0481d1;
	}
	li{
		display: inline-block;
		margin-left: 20px;
	}
}

.header-menu-link{
	text-decoration:underline;
	padding: 10px;
	border: 1px solid white;
}

.header-menu-link:hover{
	text-decoration: none;
}

.header-menu-link:focus {
	position: relative;
	background: #00bbf0;
	border: 1px solid #00bbf0;
	padding: 10px;
	color: white;
	text-decoration:none;
	border-radius: 5px;
}

.header-menu-link:focus:hover{
	color: #0481d1;
	text-decoration: none;
	border: none;

}

.header-menu-link:focus:after, .header-menu-link:focus:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.header-menu-link:focus:after {
	border-color: rgba(0, 187, 240, 0);
	border-top-color: #00bbf0;
	border-width: 15px;
	margin-left: -15px;
}
.header-menu-link:focus:before {
	border-color: rgba(0, 187, 240, 0);
	border-top-color: #00bbf0;
	border-width: 16px;
	margin-left: -16px;
}

.header-menu-link:hover:focus:after {
	border: none;
}
.header-menu-link:hover:focus:before {
	border: none;
}
.header-menu-link:hover:focus {
	border: 1px solid #00bbf0;
}

/* end of menu */

/*mobile menu*/
.header-menu-mobile-box{
	display: none;	
}

.header-menu-mobile{
	width: 100%;
	max-width: 300px;
	margin: auto;
	li{
		text-align: center;
		margin-top: 10px;
		background: #00bbf0;
		line-height: 40px;
	}
	a{
		color: white;
	}
}

.header-navicon{
	height: 5px; 
	width: 40px;
	display: none;
	border-bottom: 17px double #00b9ef; 
    border-top: 6px solid  #00b9ef; 
    content:"";
    margin-top: 40px;
    margin-left: 10%;
    float: left;
}

/*end of mobile menu*/


.header-login-wrapper{
	width: 170px;
	height: 45px;
	float: right;
	margin: 35px 20px 0 0;
}

.header-login-wrapper:hover .header-login-holder{
	background: url(assets/img/sprite.png) -38px -12px no-repeat;
}

.header-login-holder{
	width: 16px;
	height: 16px;
	float: left;
	background: url(assets/img/sprite.png) -13px -12px no-repeat;
}

.header-login-holder:hover{
	background: url(assets/img/sprite.png) -38px -12px no-repeat;
}

.header-login-enter{
	font-size: 11px;
	color: #999a95;
	border-bottom: 1px dashed #999a95;
}

.header-login-enter:hover{
	color: #f908b9;
	border-bottom: 1px dashed #f908b9;
}

.header-login-register{
	@extend .header-login-enter;
	margin-left: 16px;
}

.title{
	width: 100%;
	height: 40px;
	background-color: #00bbf0;
	margin-bottom: 30px;
}

.title-wrapper{
	width: 98%;
	max-width: 960px;
	line-height: 40px;
	margin: auto;
}

h1{
	color: white;
}