
body{
	background: url(../img/pattern4-3.jpg) repeat;
}

/*header start*/

header{
	width: 100%;
	height: 100px;
}

.header-navicon{
	height: 5px; 
	width: 40px;
	display: none;
	border-bottom: 17px double #CFBA2F; 
    border-top: 6px solid  #CFBA2F; 
    content:"";
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.header-top-wrapper{
	height: 100px;
	width: 100%;
	background: rgba(92,95,112,0.2);
	border-bottom: 1px solid rgba(92,95,112,0.0);
	transition: 1s ease;
	
}

.header-top-wrapper:hover{
	background: rgba(92,95,112,0.6);
	/*background: url(../img/pattern5.png) repeat ;*/
	border-bottom: 1px solid #B5B5B5;
	transition: 1s ease;
}

.header-logo{
	height: 70px;
	width: 240px;
	margin-top: 15px;
	margin-left: 15px;
	-webkit-box-shadow: 10px 10px 13px -8px rgba(0,0,0,1);
	-moz-box-shadow: 10px 10px 13px -8px rgba(0,0,0,1);
	box-shadow: 10px 10px 13px -8px rgba(0,0,0,1);
	float: left;
}

.header-navigation-menu-box{
	width: 100%;
	max-width: 1200px;
	height: 100px;
	margin-top: 0px;
	margin-left: 5%;
	float: left;
}

.menu-item{
	float: left;
}

.menu-item-link{
	color: white;
	font-size: 26px;
	font-family: 'Poiret One', cursive;
	text-decoration: none;
	display: block;
	line-height: 100px;
	width: 160px;
	height: 100px;
	text-align: center;	
	cursor: pointer;
}

.menu-item-link:hover{
	background: rgba(39,40,47,0.5);
	color: #ffe208;
	/*border-left: 2px #ffe208 solid;*/
	border-bottom: 2px #ffe208 solid;
	box-sizing:border-box;
}


.header-navigation-menu-mobile-box{
	width: 100%;
	max-width: 300px;
	height: auto;
	margin: 0 auto;
	display: none;
}

.menu-mobile-item{
	float: none;
	margin-bottom: 10px;

}

.menu-mobile-item-link{
	color: white;
	font-size: 32px;
	font-family: 'Poiret One', cursive;
	margin-top: 10px;
	text-decoration: none;
	display: block;
	background: rgba(105,96,105,0.2);
	line-height: 45px;
	width: 100%;
	max-width: 370px;
	height: 45px;
	text-align: center;
	border: 3px #ffe208 double;
	border-radius: 10px;
	-webkit-box-shadow: 10px 10px 13px -8px rgba(0,0,0,1);
	-moz-box-shadow: 10px 10px 13px -8px rgba(0,0,0,1);
	box-shadow: 10px 10px 13px -8px rgba(0,0,0,1);
}

.menu-mobile-item-link:hover{
	background: rgba(130,96,105,0.4);
}

.header-contact-ico{
	width: 48px;
	height: 48px;
	margin-top: 15px;
	float: left;
	background: url(../img/ico/facebook.png);
}

.header-contact-ico:hover{
	
	background: url(../img/ico/facebookh.png);
}

.header-contact{
	width: 300px;
	height: 80px;
	margin-right: 30px;
	margin-top: 10px;
	float: right;
}

.header-contact-phone{
	font-size: 24px;
	margin-left: 10px;
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	float: left;
	color: #FFFF93;
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.62);
}

.header-contact-callme{
	width: 220px;
	height: 30px;
	color: white;
	font-family: 'Poiret One', cursive;
	font-size: 22px;
	text-align: center;
	background: #696069;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	padding-top: 7px;
	border: 2px solid #ffe208;
	border-radius: 5px;
	transiton: 1s ease;
	-webkit-box-shadow: 10px 10px 13px -8px rgba(0,0,0,1);
	-moz-box-shadow: 10px 10px 13px -8px rgba(0,0,0,1);
	box-shadow: 10px 10px 13px -8px rgba(0,0,0,1);
}

.header-contact-callme:hover{
	background: rgba(130,96,105,0.4);
	transiton: 1s ease;	
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	cursor: pointer;
}

/*header end*/

/*main block*/
.events{
	width: 100%;
	height: 100%;
	background: white;
}

.events-title{
	font-size: 32px;
	font-weight: bold;
	font-family: 'Poiret One', cursive;
	color: #303030;
	text-align: center;
	line-height: 100px;
}

.events-top{
	width: 100%;
	height: 500px;
	background: #eeeef4;
}

.events-top-image{
	margin-top: 8%;
	margin-left: 5%;
	overflow:hidden;
 	width: 400px;
 	height:270px;
 	position: absolute;
 	color:black;
}

.events-top-image img:hover{
	outline: 1px solid rgba(255,255,255,0.5); 
    outline-offset: -40px; 
}

.events-top-image img{
	width: 400px;
	height: 270px;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
 	-webkit-transition: all 1s ease-out;
}

.events-top-image img:hover{
	-webkit-transform: scale(1.2);
 	-moz-transform: scale(1.2);
 	-o-transform: scale(1.2);
}

.events-text{
	height: 300px;
	float: right;
	width: 50%;
	margin-top: 8%;
	margin-right: 5%;
	/*background: yellow;*/
}	

.events-text a{
	text-decoration: none;
}	


.events-text-title{
	font-family: 'Poiret One', cursive;
	font-size: 220%;
	text-align: center;
}

.events-text-title span{
	color: red;
	font-weight: bold;
}

.events-text-title-date{
	font-family: 'Poiret One', cursive;
	font-size: 150%;
	margin-top: 5%;
	text-align: center;
}

.events-text-title-date span{
	color: #931614;
}

.time{
	margin-top: 1%;
}

.events-text-button{
	width: 200px;
	line-height: 50px;
	text-align: center;
	margin:0 auto;
	font-family: 'Poiret One', cursive;
	font-size: 28px;
	font-weight: bold;
	background: #00acec;
	color: white;
	transition: 0.4s ease;
	box-sizing:border-box;
}

.null{
	width: 10px;
	height: 10px;
	margin: auto; 
}

.register{
	/*margin-left: 5%;*/
	background: #931614;
	margin-top: 10px;
}

.events-text-button:hover{
	width: 260px;
	transition: 0.4s ease;
	cursor: pointer;
	color: #ffe208;
}

.events-text-date{
	height: 100px;
	width: 500px;
	background: yellow;
	position: absolute;
	margin-top: 400px;
}



.events-arrow{
	width: 0;
  	height: 0; 
  	margin: 0 auto;
  	border: 40px solid transparent; 
  	border-top-color: #eeeef4;  
  	border-bottom: 0;
}

.events-second{
	width: 100%;
	height: 500px;
	background: white;
	color: black;

}

/*footer*/
footer{
	height: 100px;
	width: 100%;
	background: rgba(92,95,112,0.7);
	border-top: 1px solid #B5B5B5;
}

.header-navigation-ico{
	width: 48px;
	height: 48px;
	float: right;
	margin-top: 20px;
	margin-right: 30px;
	background: url(../img/ico/facebook.png);	
}

.header-navigation-ico:hover{
	background: url(../img/ico/facebookh.png);
}

.header-copyright{
	font-family: 'Poiret One', cursive;
	color: white;
	font-size: 12px;
	text-align: right;
	margin-top: 80px;
	margin-right: 10px;
}

.header-copyright-mobile{
	font-family: 'Poiret One', cursive;
	color: black;
	font-size: 12px;
	text-align: center;
	margin-top: 15px;
	display: none;
}

.header-contact-ico-bottom{
	width: 48px;
	height: 48px;
	margin-top: 50px;
	float: left;
	background: url(../img/ico/facebook.png);
}

.header-contact-ico-bottom:hover{
	
	background: url(../img/ico/facebookh.png);
}

.header-mobile-contact{
	display: none;
	width: 100%;
	max-width: 180px;
	height: 45px;
	margin-right: 0px;
	margin-top: 4px;
	float: right;	
}