$red: #ff4e50;
$yellow: #f4b60d;
$gray: #2a2d32;
$lightgray: #828385;
$darkGray: #2a2d32;
$grayIcons: #cccccc;
$hoverIcons: #248cec;

$width-media-480: "screen and (min-width: 480px) and (max-width: 768px)";

$mont:'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
