<<<<<<< HEAD
.cube{
	margin: auto;
	background: green;
	border-radius: 10px;
	width: 300px;
	height: 300px;
	margin-top: 10%;
}
=======
.cube{
	margin: auto;
	background: green;
	border-radius: 10px;
	width: 300px;
	height: 300px;
	margin-top: 10%;
}
>>>>>>> 97f5991d9fb678b9c1d7704b696a77ad568a530e
