<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />  
	<meta name="viewport" content="width=device-width">
	<title>ToDo list</title>
	<link rel="stylesheet" href="css/media.css" type="text/css">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
	<script src="js/template.js" ></script>
    <script data-main="js/app.js" src="js/require.js"></script>
    
</head>
<body>

<script type="text/template" id="wrapper-template">
	<div class="wrapper">
		<p class="wrapper-title">TO DO LIST</p>
		<div class="form"> 
			<input type="text" class="item-value" placeholder="add new task">
		</div>
		<div class="button-wrapper">
			<button class="item-add">Add</button>
		</div>
		<ol class="item-list">
		</ol>	
	</div>
</script>

<script type="text/template" id="list-template">
	<% for(var i = 0; i<data.length; i++){ %>
		<li class="menu-item" contenteditable="true"><%= data[i] %>
			<button class="item-delete" data-value="<%= data[i] %>"> x </button></li>
	<% };%>	
</script>

</body>
</html>