@media screen and (max-width: 768px){

header{
	height: 800px;
}

.logo{
	margin-left: 10px;
}

.head{
	width: 750px;
}

.menu{
	margin-right: 220px;
	padding-top: 142px;
}

.menu li{
	display: inline;
}

.menu2{
	padding-top: 45px;
}


.menu2 li{
	margin-right: 25px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 2px;
	float: left;

}

.menu2 li a{
	font-family: 'League Gothic';
	font-size: 20px;
	display: block;
	text-decoration: none;
	color: white;
	text-shadow: -1px 2px 0px rgba(0, 0, 0, 0.41);
	letter-spacing: 1px;
	letter-spacing: 1.3px;
}


.stripe{
	width: 100%;
	height:535px;
	background: url(../img/slider760.png) center center no-repeat;
	clear: both;
	overflow: hidden;
}
.text{
	width: 750px;
	margin-top: 150px;
}
.left{
	width: 295px;
}

.first{
	display: none
}

.sec{
	display: none
}

.th{
	display: none
}

.first760{
	display: block;
	margin-left: 35px;
}

.sec760{
	display: block;
	margin-left: 35px;
}

.th760{
	display: block;
	margin-left: 35px;
}

.box, .box2, .box3, .box4{
	width: 750px;

}

.box6{
	width: 250px;
	margin-top: 30px;
}

.box7{
	width: 330px;
	margin-top: 30px;
}

.box-par1{
	width: 330px;
}

.item{
	width: 27%;
}

.item21{
	width: 340px;
	margin-left: 25px;
	margin-top: 65px;
	height: 330px;
	background: url(../img/background-test760.png) center center no-repeat;
	float: left;
}

.item22{
	width: 340px;
	margin-left: 25px;
	margin-top: 65px;
	height: 330px;
	float: left;
}

.item3{
	width: 220px;
	margin-left: 20px;
	margin-top: 90px;
	height: 210px;
	float: left;
	line-height: 20px;
}

.par2{
	display: none;
}

.par2-760{
	display: block;
	line-height: 20px;
}

.par4, .par5{
	float: left;
}

.par4 span{
	display: block;
}

.par5{
	display: none;
}

.par5-760{
	display: inline-block;
}

.par8{
	display: none;
}

.par8-760{
	display: block;
}

.par8-1{
	display: block;
}

.par11{
	display: none;
}

.par11-760{
	display: block;
	font-size: 30px;
}

.par12{
	display: none;
}

.par13{
	display: none;
}

.par13-760{
	display: block;
}

.brand{
	display: none;
}

.brand-760{
	display: block;
}

.copyright{
	float:right;
	padding-right: 0px;
	font-family: 'Open Sans';
	margin-top: 60px;
	margin-right: 10px;
	font-size: 12px;
	color: white;
}



footer{
	width: 100%;
	height: 200px;
	background: url(../img/foot760.jpg) center center no-repeat;
}


}

@media screen and (max-width: 600px){

header{
	height: 550px;
}

.logo{
	margin-left: 0 auto;
	margin-left: 35%;
}

.head{
	width: 480px;
	background: red;
}



}
@media screen and (max-width: 580px){

	header{
	height: 515px;
}

.logo{
	margin-left: 0 auto;
	margin-left: 26%;
}

.head{
	width: 320px;
	background: blue;
}

}
