@media screen and (max-width: 1240px){

header{
	height: 590px;
}

.header-logo{
	margin: 40px 0px 0px 7%;
}

.header-title{
	margin: 90px 0px 0px 7%;
	font-size: 25px;
}

.header-line{
	margin: 20px 0px 0px 7%;
}

.header-text{
	line-height: 20px;
	font-size: 15px;
	margin: 15px 0px 0px 7%;
}

.btn {
	margin: 50px 0px 50px 7%;
}


}


@media screen and (max-width: 1100px){

header{
	height: 420px;
}

.header-title{
	margin: 70px 0px 0px 7%;
	font-size: 25px;
}


.header-text{
	line-height: 18px;
	font-size: 12px;
	margin: 15px 0px 0px 7%;
}

.btn {
	width: 160px;
	height: 35px;
	font-size: 9px;
	margin: 10px 0px 50px 7%;
}

.btn:hover{
	width: 170px;
	height: 40px;
	font-size: 10px;
}

}



@media screen and (max-width: 768px){

header{
	width: 100%;
	height: auto;
	background: url(assets/img/background.jpg)no-repeat;
	background-size: 100%;
}

.header-language{
	margin: -10px 5px 0px 0px;
}

.header-main-menu{
	margin: auto;
	margin: -40px 12% 0px 0px;
	a{
		font-size: 9px;
	}
	li{
		padding-left: 10px;	
	}
}

.header-logo{
	margin: 10px 0px 0px 5%;
}

.header-title{
	margin: 90px 0px 0px 5%;
	font-size: 20px;
}

.header-line{
	margin: 20px 0px 0px 5%;
}

.header-text{
	display: block;
	line-height: 15px;
	font-family: $font;
	font-size: 10px;
	color: $grey;
	margin: 15px 0px 0px 5%;
	span{
		font-family: $fontbold;
	}
}


main{
	width: 100%;
	height: auto;
	overflow: none;
}

.container-box{
	width: 100%;
	height: 230px;
	float: none;

}

.container-box-modal{
	display: none;
}

.container-box-title{
	padding: 10px 0px 0px 30px;
}

.optimization-title{
	padding: 0px 0px 0px 30px;
	margin-top: 0px;
}

.container-box-icon-holder-document{
	margin: 10px 0px 0px 120px;
}

.container-box-icon-holder-law{
	margin: 10px 0px 0px 120px;
}

.container-box-icon-holder-agreement{
	margin: 10px 0px 0px 120px;
}

.container-box-icon-holder-info{
	position: relative;
	margin: 10px 0px 0px 520px;
}

.container-box-menu-document{
	margin-top: -100px; 
}

.container-box-icon-holder-optimization{
	margin: 0px 0px 0px 120px;
}

.container-box-menu-optimization{
	margin-top: 20px; 
}

.agreement-string{
	margin-top: -100px;
}

.testimonials{
	width: 100%;
	height: auto;
}

.testimonials-wrapper{
	width: 100%;
	height: 310px;
	float: none;
}

.testimonials-wrapper-text{
	text-align: center;
	margin-left: 0;
	padding-left: 0;
}

.testimonials-photo-holder{
	margin: auto;
	margin-top: 30px;
}

.testimonials-name{
	text-align: center;
	margin-left: 0;
	padding-left: 0;
}

.testimonials-company{
	text-align: center;
	margin-left: 0;
	padding-left: 0;
}


.testimonials-icon-holder{
	margin-left: 0;
	margin: auto;
}

.testimonials-video-wrapper{
	margin-left: 0;
	margin: auto;
	margin-top: 20px;
}

.service-form{
	margin-top: 30px;
	width: 100%;
	height: auto;
}

.service-form-wrapper{
	height: auto;
}

.service-field{
	width: 170px;
	height: 40px;
	margin-left: 15px;
}

.service-textarea{
	width: 170px;
	margin-right: 15px;
}

.service-textarea-title{
	margin-right: 15px;
}

.services-menu-wrapper{
	max-width: 320px;
}

.services-menu-title-wrapper{
	width: 100%;
}

}




@media screen and (max-width: 695px){

header{
	width: 100%;
	height: auto;
	background: url(assets/img/background.jpg)no-repeat;
	background-size: none;
}

.header-language{
	display: none;
}

.header-main-menu{
	margin: auto;
	margin: -40px 5% 0px 0px;
	a{
		font-size: 9px;
	}
	li{
		padding-left: 10px;	
	}
}

.services-text{
	font-size: 10px;
}
.container-box{
	height: 260px;
}

.container-box-title{
	padding: 10px 0px 0px 10px;
	font-size: 13px;
}

.optimization-title{
	padding: 10px 0px 0px 10px;
	margin-top: 0px;
}

.container-box-icon-holder-document{
	margin: 10px 0px 0px 10px;
}

.container-box-icon-holder-law{
	margin: 10px 0px 0px 10px;
}

.container-box-icon-holder-optimization{
	margin: 10px 0px 0px 10px;
}

.container-box-icon-holder-agreement{
	margin: 10px 0px 0px 10px;
}

.container-box-icon-holder-info{
	display: none;
}

.container-box-menu-document{
	margin-top: 20px; 
	margin-left: 10px;
}
.container-box-menu-optimization{
	padding-top: 60px;
	margin-left: 10px; 
}

.container-box-text-string{
	padding: 60px 0 0 10px;
}

.agreement-string{
	margin-top: 20px;
}

.testimonials{
	width: 100%;
	height: auto;
}

.testimonials-wrapper{
	width: 100%;
	height: 310px;
	float: none;
}

.testimonials-wrapper-text{
	text-align: center;
	margin-left: 0;
	padding-left: 0;
}

.testimonials-photo-holder{
	margin: auto;
	margin-top: 30px;
}

.testimonials-name{
	text-align: center;
	margin-left: 0;
	padding-left: 0;
}

.testimonials-company{
	text-align: center;
	margin-left: 0;
	padding-left: 0;
}


.testimonials-icon-holder{
	margin-left: 0;
	margin: auto;
}

.testimonials-video-wrapper{
	margin-left: 0;
	margin: auto;
	margin-top: 20px;
}

.service-form{
	margin-top: 30px;
	width: 100%;
	height: auto;
}

.service-form-wrapper{
	height: auto;
}

.service-field{
	width: 100px;
	height: 40px;
	margin-left: 5px;
}

.service-textarea{
	width: 150px;
	margin-right: 15px;
}

.service-textarea-title{
	margin-right: 15px;
}

.services-menu-wrapper{
	max-width: 320px;
}

.services-menu-title-wrapper{
	img{
		display: none;
	}
}

}