.btn {
	@extend %btn;
	width: 180px;
	height: 50px;
	border: none;
	vertical-align: middle;
	cursor: pointer;
	background: $red;
	border-radius: 30px;
	font-family: $fontblack;
	font-size: 11px;
	color: white;
	transition: ease-out 0.3s;
	margin: 60px 0px 0px 9%;
	img{
		display: block;
		margin: 0px 0px 0px 10px;
		float: left;
	}
	p{
		display: block;
		margin: 5px 0px 0px 10px;
		float: left;
	}
}

.btn:hover{
	width: 200px;
	height: 60px;
	font-size: 13px;
	transition: ease-out 0.3s;
}



.btn-secondary {
	@extend %btn;
	width: 180px;
	height: 50px;
	display: block;
	margin: auto;
	margin-top: 40px;
	border: none;
	vertical-align: middle;
	cursor: pointer;
	background: $red;
	border-radius: 30px;
	font-family: $fontblack;
	font-size: 11px;
	color: white;
	transition: ease-out 0.3s;
	
}

.btn-secondary:hover{
	width: 220px;
	font-size: 13px;
	transition: ease-out 0.3s;
}


.btn-medium{
	@extend %btn;
	width: 130px;
	height: 45px;
	display: block;
	margin-left: 160px;
	margin-top: 40px;
	border: none;
	vertical-align: middle;
	cursor: pointer;
	background: $red;
	border-radius: 30px;
	font-family: $fontblack;
	font-size: 11px;
	color: white;
	transition: ease-out 0.3s;
}