footer{
	width: 100%;
	height: 280px;
}		

.footer-text{
	font-family: $fontblack;
	font-size: 11px;
	text-align: center;
	color: $grey;
	padding-top: 30px;
	span{
		font-family: $font;
		font-size: 17px;
	}
	a{
		color: $grey;
	}
	a:hover{
		color: $red;
	}
}

.footer-tel{
	font-family: $font;
	font-size: 17px;

	color: $grey;
	p{
		text-align: center;
		padding-top: 15px;
	}
}

.footer-tel:hover{
	color: $red;
}

.footer-email{
	@extend .footer-tel;
	color: $red;
	text-decoration: underline;
}

.footer-email:hover{
	color: $grey;
	text-decoration: none;
}

.footer-social-wrapper{
	width: 140px;
	height: 40px;
	margin: auto;
	margin-top: 20px;
	display: block;
	a{
		color: $grey;
		display: block;
	}
}

.footer-social-box{
	width: 40px;
	height: 40px;
	border: 1px solid #dcdcdc;
	float: left;
	border-radius: 50%;
	margin-left: 5px;
	display: block;
}

.footer-social-box:hover{
	border: 1px solid #4a6bb8;
}

.footer-social-box-icon{
	position: relative;
	display: block;
	padding: 10px 10px 10px 10px;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
	color: #dcdcdc;
}

.footer-social-box-icon:hover{
	color: #4a6bb8;
}

.copyright{
	text-align: center;
	font-family: $font;
	font-size: 12px;
	color: $grey;
	padding-top: 30px;
	span{
		font-family: $fontbold;
	}
}