.wrap{
	margin: 0 auto;
}

.services{
	width: 100%;
	height: 210px;
}

.services-title{
	text-align: center;
	font-family: $fontbold;
	font-size: 28px;
	color: $grey;
	padding-top: 55px;
}

.services-line{
	height: 2px;
	width: 40px;
	background: $red;
	margin: auto;
	margin-top: 20px;
}

.services-text{
	text-align: center;
	line-height: 25px;
	font-family: $font;
	font-size: 15px;
	padding-top: 15px;
	color: $grey;
	span{
		font-family: $fontbold;
	}
}


main{
	width: 100%;
	height: 540px;
	border-bottom: 1px solid #f4f4f4;
	border-top: 1px solid #f4f4f4;
}

.container-box{
	width: 50%;
	height: 270px;
	float: left;
	
}

.container-box-border-wrapper{
	width: 50%;
	height: 200px;
	position: absolute;
	margin-top: 35px;
	border-left: 1px dotted #cdcdcf;
}

.border-top{
	border-top: 1px dotted #cdcdcf;
}


.container-box-icon-holder-document{
	display: block;
	float: left;
	width: 43px;
	height: 43px;
	background: url(assets/img/sprite.png) -5px -140px no-repeat;
	margin: 60px 0px 0px 120px;
}

.container-box-icon-holder-document:hover{
	background: url(assets/img/sprite.png) -53px -140px no-repeat;
}

.container-box-icon-holder-optimization{
	display: block;
	float: left;
	width: 43px;
	height: 43px;
	background: url(assets/img/sprite.png) -5px -5px no-repeat;
	margin: 60px 0px 0px 120px;
}

.container-box-icon-holder-optimization:hover{
	background: url(assets/img/sprite.png) -52px -5px no-repeat;
}

.container-box-icon-holder-law{
	display: block;
	float: left;
	width: 43px;
	height: 43px;
	background: url(assets/img/sprite.png) -5px -52px no-repeat;
	margin: 60px 0px 0px 120px;
}

.container-box-icon-holder-law:hover{
	background: url(assets/img/sprite.png) -52px -52px no-repeat;
}

.container-box-icon-holder-agreement{
	display: block;
	float: left;
	width: 43px;
	height: 43px;
	background: url(assets/img/sprite.png) -5px -96px no-repeat;
	margin: 60px 0px 0px 120px;
}

.container-box-icon-holder-agreement:hover{
	background: url(assets/img/sprite.png) -52px -96px no-repeat;
}


.container-box-icon-holder-info{
	position: absolute;
	display: block;
	width: 31px;
	height: 31px;
	background: url(assets/img/sprite.png) -5px -190px no-repeat;
	margin: 70px 0px 0px 520px;
}

.container-box-title{
	font-family: $fontbold;
	font-size: 15px;
	color: $grey;
	float: left;
	padding: 70px 0px 0px 30px;
}

.container-box-text-string{
	font-family: $font;
	font-size: 13px;
	color: $grey;
	padding: 130px 0 0 192px;
	line-height: 20px;
}

.container-box-menu-document{
	margin-left: 192px;
	margin-top: 10px; 
	a{
		font-family: $font;
		font-size: 13px;
		color: $grey;
		display: block;
	}
	li{
		line-height: 17px;
		padding-bottom: 5px;
	}
	li:before {
  		content: url(assets/img/menu-pointer.png);
  		padding-right: 20px;
	} 
}

.container-box-menu-optimization{
	margin-left: 192px;
	margin-top: 130px; 
	a{
		font-family: $font;
		font-size: 13px;
		color: $grey;
		display: block;
	}
	li{
		line-height: 17px;
		padding-bottom: 5px;
	}
	li:before {
  		content: url(assets/img/menu-pointer.png);
  		padding-right: 20px;
	}
	span{
		padding-left: 26px;
	} 
}


.testimonials{
	width: 100%;
	height: 660px;
	background: yellow;
}

.testimonials-title{
	font-family: $fontbold;
	font-size: 28px;
	color: $grey;
	text-align: center;
	padding: 60px 0 0 0;
}

.testimonials-wrapper{
	width: 33.33%;
	height: 310px;
	float: left;
	background: red;
	margin-top: 70px;
	margin-bottom: 70px;
}

.testimonials-loading-container{
	width: 130px;
	height: 20px;
	display: block;
	margin: auto;
	background: green;
	clear: both;
}




















.service-form{
	width: 100%;
	height: 710px;
	background: pink;
}








footer{
	width: 100%;
	height: 280px;
	background: blue;
}		