@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-condensedregular-webfont.eot');
    src: url('../fonts/leaguegothic-condensedregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-condensedregular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-condensedregular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-condensedregular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-light-webfont.eot');
    src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff'),
         url('../fonts/montserrat-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima';
    src: url('../fonts/proxima_nova_light-webfont.eot');
    src: url('../fonts/proxima_nova_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_light-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_light-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'feathericons';
    src:url('../fonts/feathericons.eot?-8is7zf');
    src:url('../fonts/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'),
        url('../fonts/feathericons.woff?-8is7zf') format('woff'),
        url('../fonts/feathericons.ttf?-8is7zf') format('truetype'),
        url('../fonts/feathericons.svg?-8is7zf#feathericons') format('svg');
}