


.one{
	font-family:'Open Sans', sans-serif;
	font-size: 26px;
}

.sec{
	font-family:'Roboto Condensed', sans-serif;
	font-size: 26px;
}

.three{
	font-family:'PT Sans', sans-serif;
	font-size: 26px;
}

.four{
	font-family: 'Comfortaa', cursive;
	font-size: 26px;
}

