
.one{
	font-family:'Open Sans', sans-serif;
	font-size: 26px;
}

.sec{
	font-family:'Roboto Condensed', sans-serif;
	font-size: 26px;
}




header{
	height: 80px;
	width: 100%;
	background: white;
}

.header-logo{
	margin-left:10px;
	margin-top: 4px;
}

.header-water{
	position: absolute;
	z-index: 15;
	margin-top: -500px;
	margin-left: -200px;
}

.background{
	background: url(../img/back3.jpg) center no-repeat;
	background-size: cover;
	width: 100%;
	height: 600px;
}

.background-title{
	height: 150px;
	width: 100%;
	/*background: rgba(65,118,0,0.3);*/
	margin-top: 10%;
	position: absolute;
}

.background-title-text{
	font-family: 'Open Sans', sans-serif;
	font-size: 108px;
	display: block;
	float: right;
	margin-top: 10px;
	margin-right: 150px;
	color: white;
	text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.75);
}

.content-water{
	position: absolute;
	margin-top: 500px;
	margin-left: -400px;
}

.content-grass{
	margin-top: -100px;
	position: absolute;
}

.content-wrapper{
	display: block;
	width: 100%;
	height: auto;
	max-width: 900px;
	position: relative;
	z-index: 0;
	margin: auto;
	border: 1px solid #4fb75b;
	border-radius:10px;
	margin-bottom: 70px;
	margin-top: -50px;
	overflow: hidden;
	
	/*-webkit-box-shadow: 2px 1px 14px 0px rgba(0,0,0,0.43);
    -moz-box-shadow: 2px 1px 14px 0px rgba(0,0,0,0.43);
	box-shadow: 2px 1px 14px 0px rgba(0,0,0,0.43);*/
}

.content-wrapper-text{
	padding: 30px 40px 80px 40px;
	text-align: center;
	font-family:'Roboto Condensed', sans-serif;
	font-size: 18px;
	line-height: 20px;
	color: #282d31;
}

.content-wrapper-text a{
	color: #4fb75b;	
}

.content-wrapper-text a:hover{
	color: #4fb75b;
	cursor: pointer;
	text-decoration: none;
	font-weight: bolder;
}

.lbase{
	margin-top: -100px;
	margin-right: 200px;
}	

.lone{
	margin-top: -80px;
}

.ltwo{
	margin-top: -160px;
	
}

.lthree{
	margin-top: -240px;
	
}

.lf{
	margin-top: -320px;
}

.lfive{
	margin-top: -400px;
}