<<<<<<< HEAD
.cube-text{
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	line-height: 300px;
=======
.cube-text{
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	line-height: 300px;
>>>>>>> 97f5991d9fb678b9c1d7704b696a77ad568a530e
}