@font-face {
  font-family: 'GothamPro';
  src: url('../assets/fonts/GothamPro.eot');
  src: url('../assets/fonts/GothamPro.woff2') format('woff2'),
       url('../assets/fonts/GothamPro.woff') format('woff'),
       url('../assets/fonts/GothamPro.ttf') format('truetype'),
       url('../assets/fonts/GothamPro.svg#GothamPro') format('svg'),
       url('../assets/fonts/GothamPro.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

